{{ warning|raw ?: '' }}
{{ message|raw ?: '' }}

<div id="msgcont"></div>
<div class="toolbar"></div>

<table id="dg" class="table table-bordered table-hover table-condensed" style="width:100%">
    <thead>
        <tr>
            {% for col in columns %}
                <th field="{{ col.name }}" width="auto">{{ col.langname ? lang(col.langname) : lang(col.name) }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tfoot>
        <tr>
            {% for col in columns %}
                <th field="{{ col.name }}" width="auto"></th>
            {% endfor %}
            </tr>
    </tfoot>
</table>
        

