
        </main>
    </div><!-- /.row -->

</div><!-- /.container-fluid -->



<!-- REQUIRED JS SCRIPTS -->

<script src="{{ base_url() }}js/jQuery/jquery-2.2.3.min.js"></script>
<script src="{{ base_url() }}js/bootstrap.min.js"></script>

{% if form_validator %}
    <!-- Form validator -->
    <script src="{{ base_url() }}js/form-validator/jquery.form-validator.min.js"></script>

    <script>
        $.validate({validateOnBlur: true,
                scrollToTopOnError: false,
                language: 'nl'});
    </script>
{% endif %}

{% if data_table %}
    <!-- datatables -->
    <link rel="stylesheet" href="{{ base_url() }}css/dataTables.bootstrap4.min.css">
    <script src="{{ base_url() }}js/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ base_url() }}js/datatables/dataTables.bootstrap4.min.js"></script>
  <!-- Responsive extension -->
    <link rel="stylesheet" href="{{ base_url() }}js/datatables/extensions/Responsive/css/dataTables.responsive.css">
    <script src="{{ base_url() }}js/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

    <!-- Select extension -->
    <link rel="stylesheet" href="{{ base_url() }}js/datatables/extensions/Select/css/dataTables.select.min.css">
    <script src="{{ base_url() }}js/datatables/extensions/Select/js/dataTables.select.min.js"></script>

    <!-- Buttons extension -->
    <script src="{{ base_url() }}js/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    
    <script>
    // CRSF protection
    $(function ($) {
        $.ajaxSetup({
            data: {
                '{{ csrf_token_name }}' : '{{ csrf_hash }}',
                {{ var1 ? "'var1': '#{var1}'"|raw }}
            }
        });
    });    
    $.fn.dataTable.ext.buttons.default = {
        className: 'btn btn-sm btn-secondary'
    };
    $.fn.dataTable.ext.buttons.primary = {
        className: 'btn btn-sm btn-primary'
    };
    $.fn.dataTable.ext.buttons.success = {
        className: 'btn btn-sm btn-success'
    };
    $.fn.dataTable.ext.buttons.info = {
        className: 'btn btn-sm btn-info'
    };
    $.fn.dataTable.ext.buttons.warning = {
        className: 'btn btn-sm btn-warning'
    };
    $.fn.dataTable.ext.buttons.danger = {
        className: 'btn btn-sm btn-danger'
    };
    $(document).ready(function () {
        $.fn.dataTable.ext.errMode = 'throw';
        var table = $('#dg').DataTable({
        select: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            responsive: true,
            lengthChange: true,
            pageLength: {{ session.table_rows ?: 25 }},
            ajax: {
                url: '{{ ajax_url }}',
                dataType: 'json',
                dataSrc: 'data',
                type: 'POST'
            },
            rowId: 'id',
            language: {
                url: '{{  base_url('js/datatables/i18n/nl')}}.json'
            },
            dom: "<'row'<'col-md-8'B>>" +
                "<'row'<'col-md-6'><'col-md-6'>>" +
                "<'row'<'col-md-12't>><'row'<'col-md-4'l><'col-md-8'pi>>",
            buttons: [
                {% if url_back %}
                {
                    extend: 'default',
                    text: '{{ lang('form_submit_back_overview') }} <span class="fa fa-arrow-left"></span>',
                    action: function () {
                        window.location.href = '{{ url_back }}'
                    }
                },
                {% endif %}
                {% if url_add %}
                {
                    extend: 'success',
                    text: '{{ lang('form_add_generic') }} <span class="fas fa-plus"></span>',
                    action: function () {
                        window.location.href = '{{ url_add }}'
                    }
                },                
                {% endif %}
                {% if url_view %}
                {
                    extend: 'default',
                    text: '{{ lang('form_view_generic') }} <span class="fas fa-eye"></span>',
                    action: function () {
                        var row = table.rows('.selected').data();
                        if (row[0]) {
                            var id = row[0][0];
                            window.location.href = '{{ url_view }}/' + id
                        } else {
                            $("#msgcont").html('<div class="alert alert-warning" role="alert">{{ lang('no_row_selected') }} <span class="fas fa-exclamation-triangle"></span></div>');
                        }
                    }
                },
                {% endif %}
                {% if url_edit %}
                {
                    extend: 'warning',
                    text: '{{ lang('form_edit_generic') }} <span class="fas fa-pen"></span>',
                    action: function () {
                        var row = table.rows('.selected').data();
                        if (row[0]) {
                            var id = row[0][0];
                            window.location.href = '{{ url_edit }}/' + id
                        } else {
                            $("#msgcont").html('<div class="alert alert-warning" role="alert">{{ lang('no_row_selected') }} <span class="fas fa-exclamation-triangle"></span></div>');
                        }
                    }
                },
                {% endif %}
                {% if url_delete %}
                {
                    extend: 'danger',
                    text: '{{ lang('form_soft_delete_generic') }} <span class="fas fa-trash"></span>',
                    action: function () {
                        var row = table.rows('.selected').data();
                        var successmsg = '<div class="alert alert-info" role="alert">{{ lang('successfully_soft_deleted') }} <span class="fas fa-check"></span></div>';
                        var errormsg = '<div class="alert alert-warning" role="alert">{error} <span class="fas fa-exclamation-triangle"></span></div>';
                        if (row[0]) {
                            var id = row[0][0];
                            $.ajax({
                            url: '{{ url_delete }}',
                                method: 'POST',
                                data: { 'id': id },
                                dataType: 'json',
                                success: function(data, status, xhr) {
                                    if (data.success === true) {
                                        table.rows($('#dg tr.active')).remove().draw(false);
                                        $("#msgcont").html(successmsg);
                                    } else {
                                        $("#msgcont").html(errormsg.replace('{error}', '{{ lang('not_successfully_deleted') }}: ' + data.msg));
                                    }
                                },
                                error: function(xhr, status, error) {
                                    $("#msgcont").html(errormsg.replace('{error}', '{{ lang('not_successfully_deleted') }}'));
                                }
                            });
                        } else {
                            $("#msgcont").html(errormsg.replace('{error}', '{{ lang('no_row_selected') }}'));
                        }
                    }
                },
                {% endif %}
                {% if url_undelete %}
                {
                    extend: 'primary',
                    text: '{{ lang('form_undelete_generic') }} <span class="fas fa-trash"></span>',
                    action: function () {
                        var row = table.rows('.selected').data();
                        var successmsg = '<div class="alert alert-info" role="alert">{{ lang('successfully_restored') }} <span class="fas fa-check"></span></div>';
                        var errormsg = '<div class="alert alert-warning" role="alert">{error} <span class="fas fa-exclamation-triangle"></span></div>';
                        if (row[0]) {
                            var id = row[0][0];
                            $.ajax({
                            url: '{{ url_undelete }}',
                            method: 'POST',
                            data: { 'id': id },
                            dataType: 'json',
                            success: function(data, status, xhr) {
                                if (data.success === true) {
                                    table.rows($('#dg tr.active')).remove().draw(false);
                                    $("#msgcont").html(successmsg);
                                } else {
                                    $("#msgcont").html(errormsg.replace('{error}', '{{ lang('not_successfully_restored') }}'));
                                }
                            },
                                error: function(xhr, status, error) {
                                    $("#msgcont").html(errormsg.replace('{error}', '{{ lang('not_successfully_restored') }}'));
                                }
                            });
                        } else {
                            $("#msgcont").html(errormsg.replace('{error}', '{{ lang('no_row_selected') }}'));
                        }
                    }
                },
                {% endif %}
                {% if url_hard_delete %}
                {
                    extend: 'danger',
                    text: '{{ lang('form_hard_delete_generic') }} <span class="fas fa-trash"></span>',
                    action: function () {
                        var row = table.rows('.selected').data();
                        var successmsg = '<div class="alert alert-info fade show" role="alert">{{ lang('action_success') }} <span class="fas fa-check"></span></div>';
                        var errormsg = '<div class="alert alert-warning fade show" role="alert">{error} <span class="fas fa-exclamation-triangle"></span></div>';
                        if (row[0]) {
                            var id = row[0][0];
                            $.ajax({
                            url: '{{ url_hard_delete }}',
                                method: 'POST',
                                data: { 'id': id },
                                dataType: 'json',
                                success: function(data, status, xhr) {
                                    if (data.success === true) {
                                        table.rows($('#dg tr.active')).remove().draw(false);
                                        $("#msgcont").html(successmsg);
                                    } else {
                                        $("#msgcont").html(errormsg.replace('{error}', '{{ lang('not_successfully_deleted') }}'));
                                    }
                                },
                                error: function(xhr, status, error) {
                                    $("#msgcont").html(errormsg.replace('{error}', '{{ lang('not_successfully_deleted') }}'));
                                }
                            });
                        } else {
                            $("#msgcont").html(errormsg.replace('{error}', '{{ lang('no_row_selected') }}'));
                        }
                    }
                },               
                {% endif %}
                {% if url_deleted %}
                {
                    extend: 'default',
                    text: '{{ lang('form_show_deleted') }} <span class="fas fa-trash"></span>',
                    action: function () {
                        window.location.href = '{{ url_deleted }}'
                    }
                }
                {% endif %}
            ],
            {% if columns %}
            "columns" : [
                {% for col in columns %}
                        {"name":"{{ col.name }}", "orderable": {{ col.orderable }} },
                {% endfor %}
            ]
            {% endif %}
        });
        {% if (url_edit or url_view) %}
        $('#dg tbody').mousedown(function(e) {
            e.preventDefault();
        });
        $('#dg tbody').on('dblclick', 'tr', function (e) {
            var id = table.row(this).data()[0];
            {% if url_view %}
                var url = '{{ url_view }}/'+id;
            {% else %}
                var url = '{{ url_edit }}/'+id;
            {% endif %}
            window.location.href = url;
        });
        {% endif %}
        $('#dg tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            } else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        $('#button').click(function () {
            table.row('.selected').remove().draw(false);
        });
        // Setup - add a text input to each footer cell
        var i = 0;
        $('#dg tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" class="dataColSearch" id="' + i + '" placeholder="{{ lang('search') }}" />');
            i++;
        });
        // DataTable
        var table = $('#dg').DataTable();
        // Apply the search
        table.columns().each(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
            if (that.search() !== this.value) {
            that
                .columns(this.id)
                .search(this.value)
                .draw();
            }
            });
        });
        $('.dataColSearch').each(function() {
            prevSearch = table.columns().search()[$(this).attr('id')];
            if (prevSearch.length > 0) {
                $(this).val(prevSearch);
            }
        });
    });
    </script>
{% endif %}

{% if select2 %}
    <!-- Select2 -->
    <script src="{{ base_url() }}js/select2/select2.full.js"></script>
    <script src="{{ base_url() }}js/select2/i18n/nl.js"></script>
    <link href="{{ base_url() }}js/select2/select2.min.css" rel="stylesheet">
{% endif %}

{% if bootstrap_switch %}
    <!-- Bootstrap Switch -->
    <script src="{{ base_url() }}js/bootstrap-switch/bootstrap-switch.js"></script>
    <link href="{{ base_url() }}js/bootstrap-switch/bootstrap-switch.css" rel="stylesheet">
{% endif %}

{% if date_picker %}
    <!-- Datepicker -->
    <script src="{{ base_url() }}js/datepicker/bootstrap-datepicker.js"></script>
    <script src="{{ base_url() }}js/datepicker/locales/bootstrap-datepicker.nl.js"></script>
    <!-- Datepicker theme -->
    <link href="{{ base_url() }}js/datepicker/datepicker3.css" rel="stylesheet">
{% endif %}
{% if ckeditor %}
    <script src="{{ base_url() }}js/ckeditor/ckeditor.js"></script>
{% endif %}
<script>
$(document).ready(function() {
    window.setTimeout(function() {
        $(".alert.fade").fadeOut(1000);
    }, 5000);
{% if bootstrap_switch %}
    $(".bootstrapswitch").bootstrapSwitch("size", "mini");
{% endif %}
{% if date_picker %}
    $(".datepicker").datepicker({
        startView: 2,
        language: "nl",
        format: "dd-mm-yyyy",
        todayHighlight: true
    });
{% endif %}
{% if select2 %}
    $(".select2").select2();
{% endif %}
});
{% if view %}
    $("#form :input").attr("disabled", true);
{% endif %}
    
{% if ckeditor %}
    {% for element in ckeditor %}
        CKEDITOR.replace( '{{ element }}' , {
            filebrowserBrowseUrl : '{{ base_url() }}application/libraries/filemanager/dialog.php?type=2&editor=ckeditor&fldr=', 
            filebrowserUploadUrl : '{{ base_url() }}application/libraries/filemanager/dialog.php?type=2&editor=ckeditor&fldr=', 
            filebrowserImageBrowseUrl : '{{ base_url() }}application/libraries/filemanager/dialog.php?type=1&editor=ckeditor&fldr='
            {% if element == 'intro' %}, height : 150 {% endif %} 
        });
    {% endfor %}
{% endif %}
{% if fileupload %}
    $('.custom-file-input').on('change', function(){
        var fileName = document.getElementById("{{ fileupload }}").files[0].name;
        console.log(fileName);
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });
{% endif %}
{% if javascript_extra_functions %}
    
    {{ javascript_extra_functions|raw }}
    
{% endif %}
    
</script>
<script>defer$()</script>
</body>
</html>
