<!DOCTYPE html>
<html lang="nl">
    <head>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-135621514-1');
        </script> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ constant('APPLICATION_NAME') }} &raquo; {{ pageName }}</title>
            
        <base href="{{ base_url() }}">

        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="{{ base_url() }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ base_url() }}css/bootstrap-dashboard.css">
        <link rel="stylesheet" href="{{ base_url() }}css/fontawesome.all.min.css">
        <link rel="stylesheet" href="{{ base_url() }}css/ionicons.min.css">
        <link rel="stylesheet" href="css/bootstrap-custom.css">

        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url() }}img/ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url() }}img/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url() }}img/ico/favicon-16x16.png">
        <link rel="manifest" href="{{ base_url() }}img/ico/site.webmanifest">
        <link rel="mask-icon" href="{{ base_url() }}img/ico/safari-pinned-tab.svg" color="#525758">
        <link rel="shortcut icon" href="{{ base_url() }}img/ico/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{{ base_url() }}img/ico/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <script src="{{ base_url() }}js/jquery-defer.js"></script> 
    </head>
    <body>        
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{ userName }} - {{ roleName }}</a>
            <h1 class="pull-left text-primary">{{ constant('APPLICATION_NAME') }}</h1>
            <ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                <a class="navlink text-warning" href="{{ site_url('cms/login/logout') }}"><h5 class="pull-right">{{ lang('logout') }} <i class="fas fa-sign-out-alt"></i></h5></a>
              </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-secondary sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            {% for item in menu %}
                            <li class="nav-item{% if item.active %} active{% endif %}">
                                {% if item.subs %}
                                    <a class="nav-link" data-toggle="collapse" href="#collapse{{ item.menu_name|replace({" ":"_"}) }}" role="button" aria-expanded="false" aria-controls="collapse{{ item.menu_name|replace({" ":"_"}) }}">
                                        {{ item.menu_name }}
                                        <span class="pull-right-container"> <i class="fa fa-angle-down pull-right"></i> </span>
                                    </a>
                                {% else %}
                                    <a class="nav-link" href="{{ site_url(item.menu_path) }}">{{ item.menu_name }}</a>
                                {% endif %}
                                {% if item.subs %}
                                    <ul class="collapse{% if item.active %} show{% endif %}" id="collapse{{ item.menu_name|replace({" ":"_"}) }}">
                                        {% for sub in item.subs %}
                                            <li class="nav-item"><a class="nav-link" href="{{ site_url(sub.menu_sub_path) }}">{{ sub.menu_sub_name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>{% if section %} {{ section }}{% else %}{{ pageName }}{% endif %}</h2> 
                    </div>
                          
          