{% if introText %}
    <p>{{ introText }}</p>
{% endif %}
{% if tableHeading %}
    <h3>{{ heading }}</h3>
{% endif %}
<table class="table {{ extraClass }}">
    <thead>
    {{ theadPrepend|raw }}
    <tr>
        {% for col in tableHeadingCells %}
            <th>{{ col }}</th>
        {% endfor %}
    </tr>
    </thead>
    {% for row in tableRows %}
        <tr {{ row.rowAttributes|raw }}>
            {% for cell in row.cells %}
                <td> {{ cell|raw }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>