{{ form_close() }}


<script type="text/javascript" src="{{ base_url() }}js/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}js/bootstrap.min.js"></script>


{% if form_validator %}
    <!-- Form validator -->
    <script src="{{ base_url() }}js/form-validator/jquery.form-validator.min.js"></script>
    <script src="{{ base_url() }}js/form-validator/lang/nl.js"></script>
    <script type="text/javascript">
        $.validate({validateOnBlur: true,
            scrollToTopOnError: false,
            language: 'nl',
            modules: "security",
            onModulesLoaded: function () {
                var optionalConfig = {
                    fontSize: "10pt",
                    padding: "4px",
                    bad: "{{ lang('form_password_bad') }}",
                    weak: "{{ lang('form_password_weak') }}",
                    good: "{{ lang('form_password_good') }}",
                    strong: "{{ lang('form_password_strong') }}"
                };
                $("input[name='password_confirmation']").displayPasswordStrength(optionalConfig);
            }
        });
    </script>
{% endif %}
</body>
</html>
