<div class="form-group">{{ lang('email', 'email') }}{{ form_input(optionsEmail) }}</div>
<div class="form-group">{{ captchaImage|raw }}</div>
<div class="form-group">{{ lang('login_captcha', 'login_captcha') }}{{ form_input(optionsPassword) }}</div>
<div class="row">
    <div class="col-md-6 text-left">
        <a class="btn btn-sm btn-link" href="{{ site_url('cms/login') }}">{{ lang('form_cancel_generic') }}</a>
    </div>
    <div class="col-md-6">
        {{ form_submit({'class': 'btn btn-primary btn-lg pull-right', 'name': 'submit', 'value': lang('form_submit_generic')}) }}
    </div>
</div>