

<div class="form-group">{{ lang('email', 'email') }}{{ form_input(optionsEmail) }}</div>
<div class="form-group">{{ lang('password', 'password') }}{{ form_password(optionsPassword) }}</div>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-sm btn-link" href="{{ site_url('cms/login/forgot') }}">{{ lang('login_password_forgot') }}</a>
    </div>
    <div class="col-md-6">
        {{ form_submit({'class': 'btn btn-primary btn-lg pull-right', 'name': 'submit', 'value': lang('form_submit_generic')}) }}
    </div>
</div>
