<!DOCTYPE html>
<html lang="nl" style="height: 100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ constant('APPLICATION_NAME') }} &raquo; {{ heading }}</title>
            
        <base href="{{ base_url() }}">

        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{{ base_url() }}css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ base_url() }}css/fontawesome.all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ base_url() }}css/ionicons.min.css">
        <!-- Custom css -->
        <link rel="stylesheet" href="{{ base_url() }}css/bootstrap-custom.css">

        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ base_url() }}img/icon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ base_url() }}img/icon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ base_url() }}img/icon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ base_url() }}img/icon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ base_url() }}img/icon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ base_url() }}img/icon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ base_url() }}img/icon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ base_url() }}img/icon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url() }}img/icon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ base_url() }}img/icon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url() }}img/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ base_url() }}img/icon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url() }}img/icon/favicon-16x16.png">
        <link rel="manifest" href="{{ base_url() }}img/icon/manifest.json">
        <script type="text/javascript" src="js/jquery-defer.js"></script> 
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="text-center bg-light login-body">

        {{ form_open(formTarget, {'class': 'form-signin', 'id': 'form'}) }}
        <h1>{{ constant('APPLICATION_NAME') }}</h1>
        <h2>{{ heading }}</h2>
        {{ message|raw ?: '' }} 
        {{ warning|raw ?: '' }} 
                