{{ form_hidden('token', token) }}
<div class="form-group">{{ lang('login_change_password_text', 'password') }}{{ form_input(optionsPassword) }}</div>
<div class="form-group">{{ lang('login_placeholder_password_confirm', 'password_confirm') }}{{ form_password(optionsPasswordConfirm) }}</div>
<div class="form-group text-right">
    {{ form_submit({'class': 'btn btn-primary btn-lg', 'name': 'submit', 'value': lang('form_submit_generic')}) }}
</div>