{{ message|raw ?: '' }} 
{{ warning|raw ?: '' }} 

{{ form_open('cms/Calendar/calendarItemSave', {'class': 'form', 'id': 'form'}) }}
{% if id %}
{{ form_hidden('id', id) }}
{% endif %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            {% if id  %}
                {{ lang('calendar_edit') }}
            {% else %}
                {{ lang('calendar_add') }}
            {% endif %}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6">
                {{ lang('date', 'date') }}
                {{ form_input(optionsDate) }}
            </div>
        </div>
        <div class="form-group">
            {{ lang('text', 'text') }}
            {{ form_textarea(optionsText) }}
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6"><a class="btn btn-secondary" href="{{ site_url('cms/Calendar') }}">{{ lang('form_cancel_generic') }} </a></div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit', 'value': lang('form_submit_generic')}) }}</div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit_done', 'value': lang('form_submit_generic_done')}) }}</div>
    </div>
</div>

{{ form_close() }}