{{ message|raw ?: '' }} 
{{ warning|raw ?: '' }} 

{{ form_open_multipart('cms/Editions/editionSave', {'class': 'form', 'id': 'form'}) }}
{% if id %}
{{ form_hidden('id', id) }}
{% endif %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            {% if id  %}
                {{ lang('edition_edit') }}
            {% else %}
                {{ lang('edition_add') }}
            {% endif %}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-2">
                {{ lang('number', 'number') }}
                {{ form_input(optionsNumber) }}
            </div>
            <div class="form-group col-md-4">
                {{ lang('releasedate', 'releasedate') }}
                {{ form_input(optionsReleaseDate) }}
            </div>
            <div class="form-group col-md-6">
                {{ lang('textstring_comment') }}<br>
                {{ lang('releasedate_explain') }}
            </div>
        </div>
        <div class="row">
            {% if edition.file %}
                <div class="col-md-4">
                    <p><strong>{{ lang('linked_ file') }}:</strong></p> 
                    <p><a href="{{ base_url() }}uploads/editions/{{ edition.file }}" target="_blank">{{ edition.file }}</a></p>
                </div>
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <div class="custom-file">
                            {{ form_upload(optionsFile) }}
                            <label class="custom-file-label" for="userfile">{{ lang('form_replace_file') }}</label>
                        </div>
                        
                    </div>
                </div>  
            {% else %}
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <div class="custom-file">
                            {{ form_upload(optionsFile) }}
                            <label class="custom-file-label" for="userfile">{{ lang('form_upload_file') }}</label>
                        </div>
                    </div>
                </div>                
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6"><a class="btn btn-secondary" href="{{ site_url('cms/Editions/index') }}">{{ lang('form_cancel_generic') }} </a></div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit', 'value': lang('form_submit_generic')}) }}</div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit_done', 'value': lang('form_submit_generic_done')}) }}</div>
    </div>
</div>

{{ form_close() }}