{{ message|raw ?: '' }} 
{{ warning|raw ?: '' }} 

{{ form_open('cms/Galleries/gallerySave', {'class': 'form', 'id': 'form'}) }}
{% if id %}
{{ form_hidden('id', id) }}
{% endif %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            {% if id  %}
                {{ lang('gallery_edit') }}
            {% else %}
                {{ lang('gallery_add') }}
            {% endif %}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6">
                {{ lang('title', 'title') }}
                {{ form_input(optionsTitle) }}
            </div>
            <div class="form-group col-md-6">
                {{ lang('url', 'url') }}
                {{ form_input(optionsUrl) }}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6"><a class="btn btn-secondary" href="{{ site_url('cms/Galleries') }}">{{ lang('form_cancel_generic') }} </a></div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit', 'value': lang('form_submit_generic')}) }}</div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit_done', 'value': lang('form_submit_generic_done')}) }}</div>
    </div>
</div>

{{ form_close() }}