{{ message|raw ?: '' }} 
{{ warning|raw ?: '' }} 

{{ form_open_multipart('cms/News/newsSave', {'class': 'form', 'id': 'form'}) }}
{% if id %}
{{ form_hidden('id', id) }}
{% endif %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            {% if id  %}
                {{ lang('news_edit') }}
            {% else %}
                {{ lang('news_add') }}
            {% endif %}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-5">
                {{ lang('title', 'title') }}
                {{ form_input(optionsTitle) }}
            </div>
            <div class="form-group col-md-3">
                {{ lang('edition', 'edition') }}
                {{ form_dropdown('edition', allEditions, news.edition_id, 'class="select2" id="edition" data-width="100%"') }}
            </div>
            <div class="form-group col-md-4">
                {{ lang('image', 'image') }}
                <div class="input-group">
                    {{ form_input(optionsImg) }}
                    <div class="input-group-append">
                        <a type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#filemanagerModal">Kies</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ lang('intro', 'intro') }}
            {{ form_textarea(optionsIntro) }}
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6"><a class="btn btn-secondary" href="{{ site_url('cms/News') }}">{{ lang('form_cancel_generic') }} </a></div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit', 'value': lang('form_submit_generic')}) }}</div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit_done', 'value': lang('form_submit_generic_done')}) }}</div>
    </div>
</div>
    
    
<div class="modal fade modal-lg" id="filemanagerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <iframe width="765" height="550" frameborder="0" src="{{ base_url() }}application/libraries/filemanager/dialog.php?type=1&field_id=img"> </iframe>
      </div>
    </div>
  </div>
</div>
{{ form_close() }}