{{ message|raw ?: '' }} 
{{ warning|raw ?: '' }} 

{{ form_open('cms/Page/pageSave', {'class': 'form', 'id': 'form'}) }}
{% if id %}
{{ form_hidden('id', id) }}
{% endif %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            {% if id  %}
                {{ lang('page_edit') }}
            {% else %}
                {{ lang('page_add') }}
            {% endif %}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-4">
                {{ lang('page_name', 'page_name') }}
                {% if id %} 
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text">{{ id }}</span></div>
                {% endif %}
                {{ form_input(optionsPageName) }}
                {% if id %} </div>{% endif %}
            </div>
            <div class="form-group col-md-4">
                {{ lang('parent', 'parent') }}
                {{ form_dropdown('parent', allPages, page.parent, 'class="select2" id="parent" data-width="100%"') }}
            </div>
            {% if id %} 
                <div class="col-md-4"><div class="form-group">{{ lang('updated_at', 'updated_at') }} {{ form_input(optionsUpdatedAt) }}</div></div>
            {% endif %}
        </div>
        <div class="form-group">{{ lang('page_content', "page_content") }} {{ form_textarea(optionsPageContent) }}</div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6"><a class="btn btn-secondary" href="{{ site_url('cms/page/index') }}">{{ lang('form_cancel_generic') }} </a></div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit', 'value': lang('form_submit_generic')}) }}</div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit_done', 'value': lang('form_submit_generic_done')}) }}</div>
    </div>
</div>

{{ form_close() }}