{{ message|raw ?: '' }} 
{{ warning|raw ?: '' }} 

{{ form_open('cms/Textstring/textstringSave', {'class': 'form', 'id': 'form'}) }}
{{ form_hidden('id', id) }}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            {% if id  %}
                {{ lang('textstring_edit') }}
            {% else %}
                {{ lang('textstring_add') }}
            {% endif %}
        </h3>
    </div>
    <div class="card-body">
        <div class="well">
            <h3>{{ lang('explanation') }}</h3>
            <p>{{ textstring.explain }}</p>
        </div>
        <div class="form-group">
            {{ lang('text', 'text') }}
            {{ form_textarea(optionsText) }}
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6"><a class="btn btn-secondary" href="{{ site_url('cms/Textstring') }}">{{ lang('form_cancel_generic') }} </a></div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit', 'value': lang('form_submit_generic')}) }}</div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit_done', 'value': lang('form_submit_generic_done')}) }}</div>
    </div>
</div>

{{ form_close() }}