{{ message|raw ?: '' }} 

<p>Welkom bij het Content Management Systeem van de Rond de Toren website. Afhankelijk van je rol kun je via het menu de inhoud van de website beheren. Hierbij wordt het volgende onderscheid gemaakt:</p>
<ul class="list-group">
    {% for role in roles %}
        <li class="list-group-item">{{ role.name }} - {{ role.description }}</li>
    {% endfor %}
</ul>
<br>
<p>Deze website is dynamisch opgebouwd. Dat wil zeggen dat waar mogelijk inhoud automatisch wordt opgebouwd. 
    Zo is het uitgangspunt bij de diverse onderdelen de papieren edities. Deze edities beheer je onder het hoofmenuitem "Edities". Deze edities kun je vooraf (bij het vaststellen van de planning) aanmaken. 
    Als een editie compleet is kun je deze uploaden. Aan de hand van de uitgavedatum wordt bepaald:</p>
<ul>
    <li>Jaargang van de editie (voor het archief, bestandsnaam, etc.);</li>
    <li>Weergave van aan deze editie gekoppelde nieuwsitems;</li>
    <li>Weergave van de aan deze editie gekoppelde torentjes (6 weken na uitgave);</li>
    <li>Inleverdata kopij.</li>
</ul>


{% if phpInfo %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#phpInfo">Toon PHP Info</button>
    <div class="modal fade" id="phpInfo" tabindex="-1" role="dialog" aria-labelledby="modaltitle" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 100%">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modaltitle">PHP Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{ phpInfo|raw }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    
    
<style type='text/css'>
    #phpInfo pre {margin: 0; font-family: monospace;}
    #phpInfo a:link {color: #009; text-decoration: none; background-color: #fff;}
    #phpInfo a:hover {text-decoration: underline;}
    #phpInfo table {border-collapse: collapse; border: 0; width: 934px; box-shadow: 1px 2px 3px #ccc;}
    #phpInfo .center {text-align: center;}
    #phpInfo .center table {margin: 1em auto; text-align: left;}
    #phpInfo .center th {text-align: center !important;}
    #phpInfo td, th {border: 1px solid #666; font-size: 75%; vertical-align: baseline; padding: 4px 5px;}
    #phpInfo h1 {font-size: 150%;}
    #phpInfo h2 {font-size: 125%;}
    #phpInfo .p {text-align: left;}
    #phpInfo .e {background-color: #ccf; width: 300px; font-weight: bold;}
    #phpInfo .h {background-color: #99c; font-weight: bold;}
    #phpInfo .v {background-color: #ddd; max-width: 300px; overflow-x: auto; word-wrap: break-word;}
    #phpInfo .v i {color: #999;}
    #phpInfo img {float: right; border: 0;}
    #phpInfo hr {width: 934px; background-color: #ccc; border: 0; height: 1px;}
</style>
{% endif %}
