<div class="content-container">
    <div class="content">
        <div class="col-xl-8 col-12">
            <div class="card">
                {{ form_open('Agenda', {'class': 'form card-header', 'id': 'form'}) }}
                    <h5>Agenda {{ form_dropdown('year', selectYears, activeYear, 'class="form-control select2" data-width="100px"') }}</h5>
                    <ul class="nav nav-tabs card-header-tabs nav-fill nav-justified"  id="myTab" role="tablist">
                        {% for m in selectMonths %}
                        <li class="nav-item">
                            <a id="{{ m.name_short }}-tab" data-toggle="tab" {% if m.active %}href="#{{ m.name_short }}"{% endif %} role="tab" aria-controls="{{ m.name_short }}"  class="nav-link{% if m.number == activeMonth %} active{% endif %}{% if not m.active %} disabled d-none d-md-block{% endif %}">{{ m.name_short }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {{ form_close() }}
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        {% for m in selectMonths %}
                        <div class="tab-pane fade{% if m.number == activeMonth %} show active{% endif %}" id="{{ m.name_short }}" role="tabpanel" aria-labelledby="{{ m.name_short }}-tab">
                            <ul class="list-group">
                            {% for item in m.content %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-2 col-3 font-weight-bold text-primary">{{ item.day }}</div>
                                    <div class="col-sm-10 col-9">{{ item.text|raw }}</div>
                                </div>
                            </li> 
                            {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}          
                    </div>
                </div>
                
            </div>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function(){ 
        $('select').change(function(e) {
            $('#form').submit();
        });
    });
</script>