<div class="content-container">
    <div class="content">
        <div class="col-md-6 col-12">
            <h2>{{ pageTitle }}</h2>

            {{ langstring('archiveIntro') }}

            <div class="card">
                {{ form_open('Archief/index', {'class': 'form card-body', 'id': 'form'}) }}
                <div class="form-group">
                    {{ lang('releaseyear', 'year') }} {{ form_dropdown('year', selectYears, year, 'class="form-control select2" data-width="100px"') }}
                </div>
                {{ form_close() }}
            </div>
            <ul class="list-group">
            {% for row in editions %}
                <a class="list-group-item" href="{{ base_url() }}uploads/editions/{{ row.file }}">
                    Jaargang {{ row.releaseyear }} nummer {{ row.number }} van {{ row.releasedate|date("d-m-Y") }}
                </a>
            {% else %}
                <p>{{ lang('no_data_found') }}</p>   
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script>
    $(function(){ 
        $('select').change(function(e) {
            $(this).parents('form').submit();
        });
    });
</script>