{{ form_open('p/Viewpage/ContactSend') }}
{{ form_hidden('page', page) }}
<div class="card" id="contactForm">
    <h5 class="card-header"> {{ lang('contact_form') }}</h5>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6">
                {{ lang('name', 'name') }}
                {{ form_input(optionsName) }}
            </div>
            <div class="form-group col-md-6">
                {{ lang('email', 'email') }}
                {{ form_input(optionsEmail) }}
            </div>
        </div>
                    <div class="row">

            <div class="form-group col-md-12">
                {{ lang('subject', 'subject') }}
                {{ form_input(optionsSubject) }}
            </div> 
            </div> 
        <div class="form-group">
            {{ lang('message', 'message') }}
            {{ form_textarea(optionsMessage) }}
        </div> 
            <div class="text-right">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit', 'value': lang('form_submit_generic')}) }}</div>
    </div>
</div>
{{ form_close() }}