{% for schedule in editionOverview %}
<h4>{{ schedule.year }}</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Uitgave</th>
            <th scope="col">           
                <span class="d-none d-sm-block">Uiterste inleverdatum kopij</span>
                <span class="d-sm-none">Kopij inleveren</span>
            </th>
        </tr>
    </thead>
    <tbody>
    {% for number in schedule.editions %}
    <tr>
        <td>
            <span class="d-none d-sm-block">{{ number.release }}</span>
            <span class="d-sm-none">{{ number.releaseShort }}</span>
        </td>
        <td>
            <span class="d-none d-sm-block">{{ number.copy }}</span>
            <span class="d-sm-none">{{ number.copyShort }}</span>
        </td>
    </tr>
     {% endfor %}
    </tbody>
</table>
{% endfor %}