        </main> <!-- /.container-fluid -->
    <div style="height: 80px"></div>
    <footer class="bg-primary">
        <div class="float-left text-white">&copy; Rond de Toren {{ now|date("Y") }}</div>
        <div class="mobile-hide">
            <div class="float-right"><a class="btn btn-primary" href="{{ site_url('p/contact') }}?s=tip#contactForm">Tip de redactie</a> </div>
            <div class="float-right"><a class="btn btn-primary" href="{{ site_url('p/contact') }}?s=torentje#contactForm">Torentje plaatsen</a></div>
            <div class="float-right"><a class="btn btn-primary" href="{{ site_url('p/contact') }}?s=ad#contactForm">Adverteren</a> </div>
            <div class="float-right"><a class="btn btn-primary" href="{{ site_url('p/contact') }}?s=bezorg#contactForm">Bezorging</a></div>
        </div>
        <div class="mobile-show">
            <div class="float-right"><a class="btn btn-primary" href="{{ site_url('p/contact') }}?#contactForm">Contact</a></div>
        </div>
    </footer>

    <script type="text/javascript" src="{{ base_url() }}js/jQuery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}js/bootstrap.min.js"></script>
    {% if select2 %}
        <!-- Select2 -->
        <script type="text/javascript" src="{{ base_url() }}js/select2/select2.full.js"></script>
        <script type="text/javascript" src="{{ base_url() }}js/select2/i18n/nl.js"></script>
        <link href="{{ base_url() }}js/select2/select2.min.css" rel="stylesheet">
        
    {% endif %}
    <script>
        {% if select2 %}
            $(".select2").select2();
        {% endif %}
        defer$();
    </script>
</body>
</html>