<div class="content-container">
    <h2>{{ pageTitle }}</h2>
    <div class="content">

        <div class="col-md-6 col-12">
            {{ langstring('galleryIntro') }}

            <ul class="list-group">
            {% for gallery in galleries %}
                <a class="list-group-item" href="{{ gallery.url }}" target="_blank" rel="noopener">
                    {{ gallery.title }}
                </a>
            {% else %}
                <p>{{ lang('no_data_found') }}</p>   
            {% endfor %}
            </ul>
        </div>
    </div>
</div>