<!DOCTYPE html>
<html lang="nl">
    <head>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-135621514-1');
        </script>        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rond de Toren &bull; {{ pageTitle }}</title>
        <base href="{{ base_url() }}">
        <!-- Bootstrap -->
        <link href="{{ base_url() }}css/bootstrap-front-min.css" rel="stylesheet">
        <link href="{{ base_url() }}css/bootstrap-custom-front.css?t={{ date().timestamp }}" rel="stylesheet">
        <script type="text/javascript" src="{{ base_url() }}js/jquery-defer.js"></script> 
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url() }}img/ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url() }}img/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url() }}img/ico/favicon-16x16.png">
        <link rel="manifest" href="{{ base_url() }}img/ico/site.webmanifest">
        <link rel="mask-icon" href="{{ base_url() }}img/ico/safari-pinned-tab.svg" color="#525758">
        <link rel="shortcut icon" href="{{ base_url() }}img/ico/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{{ base_url() }}img/ico/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">


    </head>
    <body id="front">          
        <header>
            <div class="header_image d-none d-sm-block"><a href="{{ base_url() }}"><img src="{{ base_url() }}img/style/site_logo.png" alt="Rond te Toren" title="Rond de Toren"></a></div>
            <div class="site_description">
                <a href="{{ base_url() }}"><h1>Rond<span class="r270">de</span>Toren</h1></a>
                <h2 class="text-primary d-none d-md-block">Loon op Zand</h2>
            </div>
            <div class="years text-primary d-none d-lg-block"> 1967 - {{ now|date("Y") }}</div>
        </header>
        <main class="container-fluid">      
            <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="width: 100%;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColorMain" aria-controls="navbarColorMain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColorMain">
                    <ul class="navbar-nav mr-auto">
                        {% for item in menu %}
                            <li class="nav-item{% if item.children %} dropdown{% endif %}{% if item.active %} active{% endif %}">
                                <a href="{{ site_url(item.url) }}" class="nav-link{% if item.children %} dropdown-toggle{% endif %}"{% if item.children %} data-toggle="dropdown"{% endif %}>
                                    {{ item.name }}{% if item.children %} <b class="caret"></b>{% endif %}
                                </a>
                                {% if item.children %}
                                    <div class="dropdown-menu ">
                                        {% for child in item.children %}
                                            <a class="dropdown-item" href="{{ site_url(child.url) }}">{{ child.name }}</a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
              </nav>
                
             
