<div class="content-container newspage">

    <div class="content col-lg-9 col-md-12">
        <h2>{{ pageTitle }}</h2>
        {{ langstring('welcomeHome') }}
        <p><span class="text-primary">Nieuw:</span> In editie <span class="text-primary font-weight-bold">{{ edition.number }}</span> van <span class="text-primary">Rond de Toren</span>, dat op 
            <span class="text-primary font-weight-bold">{{ edition.releasedate|date("d-m-Y") }}</span> verschijnt, kunt u onder meer lezen over de volgende artikelen:</p>
        <ul class="media-list">
            
        {% for item in news %}
            <li class="media mb-3">
                <div class="media-body">
                    <h3 class="media-heading">{{ item.title }}</h3>
                    <div class="newsintro">{{ item.intro|raw }}</div>
                </div>
                <div class="media-right">
                    {% if item.thumb %}
                    <a data-toggle="modal" href="#imgModal" class="newsImg" data-orig="{{ item.img }}">
                        <img class="media-object" src="{{ item.thumb }}" />
                    </a>
                    {% endif %}
                </div>
                <br>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="modal fade" id="imgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img id="fullImg" src="" />
            </div>
        </div>
    </div>
</div>
        
<script>
    $(function(){ 
        $('.newsImg').click(function(e) {
            $('#fullImg').attr('src', $(this).attr('data-orig'));
        });
		$('.media-heading').click(function(e) {
            $(this).next('.newsintro').toggle('slow');
        });
    });
</script>