{{ message|raw ?: '' }} 
<div class="content-container">
    <div class="content col-lg-7 col-md-12">
    {{ page.content|raw }}
    </div>
</div>
    
<script>
    $(function(){ 
        $('.content table').each(function() {
            if ($(this).hasClass('bsgrid')) {
                makeBSCols($(this));
            } else {
                makeBSTable($(this));
            }
        });
        
        /**
         * Replace adformatExample img on hover
         */
        $('ul.adFormatExample').children('li').click(function(e){
            var index = $(this).index() +1;
            var src = $('img#adFormatExample').attr('src');
            var newsrc = src.replace(/pic[0-7].gif/gi, 'pic' + index + '.gif');
            $('img#adFormatExample').attr('src', newsrc);
            $('ul.adFormatExample li').removeClass('active')
            $(this).addClass('active');
        })
    });
    
    /**
     * Convert a table to bootstrap columns
     * @param table DOMElement
     */
    function makeBSCols(table){
        var html = [];
        $(table).find('tr').each(function(){
            var $td = $(this).find('td').length ? $(this).find('td') : $(this).find('th');
            // get the column width
            if($td.length > 12) {
                return false;
            }
            var clssm = Math.floor(12/$td.length);
            var clsxs = colSmXs(clssm);
            var style = $td.attr('style') ? $td.attr('style') : '';
            html.push("<div class='row'>");
            $td.each(function(){
                html.push('<div class="col-sm-'+clssm+' col-'+clsxs+'" style="'+style+'">'+$(this).html()+'</div>');
            });
            html.push('</div>');
        });
{#        html.push('</div>');#}
        $(table).replaceWith(html.join(''));
    }
    /**
     * Calc col xs
     * @param int sm
     * @returns int
     */
    function colSmXs(sm) {
        if (sm >4) {
            return 12
        }
        if (sm < 4) {
            return (2*sm);
        }
        return 6;
    }
    
    /**
     * Convert a regular table to bootstrap table
     * @param table DOMElement
     */
    function makeBSTable(otable){
        var table = $(otable).clone(); console.log(table);
        table.addClass("table-bordered table");
        table.removeAttr('style');
        var div = $('<div class="table-responsive" />');
        $(otable).replaceWith(div);
        div.append(table);
    }
    

</script>