<div class="content-container">
    <h2>{{ pageTitle }}</h2>
    <div class="content">

        <div class="col-md-6 col-12">
            {{ langstring('searchExplain') }}

            <div class="well well-lg">
                {{ form_open('Archief/Zoeken', {'class': 'form card-body', 'id': 'form'}) }}
                <div class="form-group">
                    {{ lang('search', 'search') }}
                    
                    <div class="input-group">
                         {{ form_input(optionsSearch) }}
                        <div class="input-group-append">
                            {{ form_submit({'class': 'btn btn-primary', 'name': 'submit', 'value': lang('form_submit_generic')}) }}
                        </div>
                    </div>
                </div>
                {{ form_close() }}
            </div>
            {% if search and searchResult %}
                <ul class="list-group">
                {% for row in searchResult %}
                    <a class="list-group-item" href="{{ base_url() }}uploads/editions/{{ row.file }}">
                        Jaargang {{ row.releaseyear }} nummer {{ row.number }} van {{ row.releasedate|date("d-m-Y") }}
                    </a>                     
                {% endfor %}
                </ul>
            {% elseif search and not searchResults %}
                <p>{{ lang('no_data_found') }}</p>  
            {% endif %}

        </div>
    </div>
</div>
<script>
    $(function(){ 
        $('select').change(function(e) {
            $(this).parents('form').submit();
        });
    });
</script>