<div class="content-container">
    <h2>{{ pageTitle }}</h2>

    <div class="row">

        <div class="content col-lg-9 col-md-12">
            <div class="clearfix">{{ langstring('torentjesIntro') }}</div>
            <br class="clearfix">
            <div class="row">
                <ul class="list-group col-md-6 col-12">
                {% for item in col1 %}
                    <li class="list-group-item">
                            <h3>{{ item.title }}</h3>
                            {{ item.text|raw }}
                        <br>
                    </li>
                {% endfor %}
                </ul>
                <ul class="list-group col-md-6 col-12">
                {% for item in col2 %}
                    <li class="list-group-item">
                            <h3>{{ item.title }}</h3>
                            {{ item.text|raw }}
                        <br>
                    </li>
                {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>
