{{ message|raw ?: '' }} 
{{ warning|raw ?: '' }} 


<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ lang('log_details') }}</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <dt class="col-md-2">{{ lang('user_name') }}:</dt>
            <dd class="col-md-10">{{ log.name }}</dd>
        </div>
        <div class="row">
            <dt class="col-md-2">{{ lang('action') }}:</dt>
            <dd class="col-md-10">{{ log.action }}</dd>
        </div>
        <div class="row">
            <dt class="col-md-2">{{ lang('created_at') }}:</dt>
            <dd class="col-md-10">{{ log.created_at }}</dd>
        </div>
        <div class="row">
            <dt class="col-md-2">{{ lang('details') }}:</dt>
            <pre class="col-md-10">{{ details }}</pre>
        </div>        
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6"><a class="btn btn-secondary" href="{{ site_url('cms/Admin/logAsync') }}">{{ lang('form_submit_back_overview') }} </a></div>
    </div>
</div>
