{{ message|raw ?: '' }} 
{{ warning|raw ?: '' }} 

{{ form_open_multipart('cms/Admin/userSave', {'class': 'form', 'id': 'form'}) }}
{% if id %}
{{ form_hidden('id', id) }}
{% endif %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            {% if id  %}
                {{ lang('user_edit') }}
            {% else %}
                {{ lang('user_add') }}
            {% endif %}
        </h3>
    </div>
    <div class="card-body col-md-6">
        <div class="form-group">
            {{ lang('name', 'name') }}
            {{ form_input(optionsName) }}
        </div>
        <div class="form-group">
            {{ lang('email', 'email') }}
            {{ form_input(optionsEmail) }}
        </div>
        <div class="form-group">
            {{ lang('role', 'role_id') }}
            {{ form_dropdown('role_id', allRoles, user.role_id, 'class="select2" id="role_id" data-width="100%"') }}
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6"><a class="btn btn-secondary" href="{{ site_url('cms/Admin/userAsync') }}">{{ lang('form_cancel_generic') }} </a></div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit', 'value': lang('form_submit_generic')}) }}</div>
        <div class="col-md-3">{{ form_submit({'class': 'btn btn-primary', 'name': 'submit_done', 'value': lang('form_submit_generic_done')}) }}</div>
    </div>
</div>
{{ form_close() }}